@import url('https://fonts.googleapis.com/css2?family=Varela&display=swap');

* {
    padding:0;
    margin:0;
    font-family: Arial, sans-serif;
}

.ck{
    border: none !important;
    box-shadow: none !important;
    outline: none !important;
}

.ck-focused{
    outline:1px solid rgba(147, 112, 219, 0.5) !important;
    box-shadow: none !important;
}

body{
    overflow: scroll;
}

body::-webkit-scrollbar {
    width: 0.375rem;
    height: 100%;
    background-color: #E7E7E7;
}

body::-webkit-scrollbar-track {
    background-color: #E7E7E7;
}

body::-webkit-scrollbar-thumb {
    background-color: darkgrey;
}

button, input {
    outline:none;
    border:none;
    background:white;
    border-radius: 0;
}

.App{
    height: 100vh;
    width: 100%;
    display:flex;
    flex-direction: column;
    align-items:center;
}

body {

    height : 100vh;
    width: 100%;
    background: #E7E7E7;
    display:flex;
    flex-direction: column;
    align-items:center;

}

.redactor-shadow-element {

    -webkit-box-shadow: 0 0 0.25rem 0 rgba(34, 60, 80, 0.3);
    -moz-box-shadow: 0 0 0.25rem 0 rgba(34, 60, 80, 0.3);
    box-shadow: 0 0 0.25rem 0 rgba(34, 60, 80, 0.3);

}

.top-bar{
    z-index:100;
    position: fixed;
    top: 0;
    box-sizing: border-box;
    padding: 2vh 0;
    display:flex;
    justify-content:flex-start;
    align-items:center;
    height: 8vh;
    width: calc(100vw - 4vh);
}

.burger{
    height: 4vh;
    width: 4vh;
    display:flex;
    align-items:center;
    justify-content:center;
    background:none;
}

.doc-title{
    height: 4vh;
    padding-left:0.5rem;
    padding-right:0.5rem;
    margin-left:2vh;
    width: calc(20vw - 2vh - 4vh - 2vh - 2vh);
    box-sizing: border-box;
}

.add-block{
    z-index: 100;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto;
    background: white;
    position: fixed;
    top:calc(35vh - 40vh / 2);
    left:calc(50vw - 40vw / 2);
    height: 40vh;
    width: 40vw;
}

.add-block-hidden{
    display: none;
}

.add-block-label, .add-block-input, .add-block-button{
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-block-input{
    padding: 0 1rem;
}

.add-block-label{
    position: relative;
    border-bottom: 1px solid lightgray;
}

.add-block-button{
    border-top: 1px solid lightgray;
}

.add-block-close{
    position: absolute;
    height: 100%;
    width: 3rem;
    border-left: 1px solid lightgray;
    right: 0;
}

#content-area{

    width: 60vw;
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content:center;
    margin-top:6vh;

}

.editor {
    border: none !important;
    box-shadow: none !important;
}

.ck.ck-balloon-panel[class*=arrow_s]:before {
    filter: none !important;
}

.ck-balloon-panel {
    border-radius: 0 !important;
}

.ck.ck-balloon-panel[class*=arrow_s]:before, .ck-balloon-panel {
    border: none !important;
    background: white !important;
    -webkit-box-shadow: 0 0 0.5vw 0 rgba(34, 60, 80, 0.3) !important;
    -moz-box-shadow: 0 0 0.5vw 0 rgba(34, 60, 80, 0.3) !important;
    box-shadow: 0 0 0.5vw 0 rgba(34, 60, 80, 0.3) !important;
}

.b {

    display:flex;
    flex-direction: column;
    width: 100%;
    background:white;
    position: relative;
    margin-top:2vh;

}

.b-fav{
    position:absolute;
    top:0;
    left:0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 1rem 1rem 0 0;
    display:none;
}

.b-fav-starred{
    border-color: #f9e79f transparent transparent transparent;
    display:block;
}

.v-label{
    color: grey;
    position: absolute;
    text-align:center;
    width:50%;
    top:0.5%;
    left:25%;
}

.b-bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1vh;
    height: 4vh;
    box-sizing: border-box;
}

.b-label, .v-arrows, .b-menu-wrapper{
    width: calc(100%/3);
}

.v-arrows{
    display:flex;
    align-items:center;
    justify-content:center;
}

.v-arrow{
    height: 1rem;
    width: 1rem;
}

.v-left, .v-right{
    display:flex;
    align-items:center;
    justify-content:center;
}

.v-page{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: consolas, serif;
    padding: 0 0.5vw 0 0.5vw;
}

.btn-icon{
    fill:grey;
}

.btn-icon:hover{
    fill:black;
}

.b-label, .v-label{
    background: none;
}

.b-menu-wrapper{
    padding-right:1.5vh;
    box-sizing:border-box;
}

.b-menu{
    display:flex;
    justify-content:flex-end;
    align-items:center;
    overflow:hidden;
    height: 3vh;
}

.b-menu-nav{
    transition:0.2s;
    transform-origin: right center;
    transform: translate(100%);
    display:flex;
    justify-content:center;
    align-items:center;
}

.b-menu-nav-active{
    transform: translate(0%);
}

.b-menu-nav-option{
    display:flex;
    justify-content:center;
    align-items:center;
    margin: 1% 1.5vh 1% 1%;
    background:white;
    color:grey;
}

.b-menu-nav-option:first-child{
    margin-left:1.5vh
}

.b-menu-nav-option:hover{
    color:black;
}

.b-menu-btn{
    z-index:1;
    display:flex;
    justify-content:center;
    align-items:center;
}

.add-block-button-wrapper{
    margin-top:2vh;
    margin-bottom: 2vh;
    height:3rem;
    width:3rem;
    border-radius:50%;
}

#add-block-button{
    font-family: consolas, serif;
    font-size: 300%;
    color:black;
    background:white;
    border-radius:50%;
    height:3rem;
    width:3rem;
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
}

.side-menu-wrapper{
    z-index: 100;
    position: fixed;
    height: calc(100vh - 8vh);
    margin-top: 8vh;
    border-top: 1px solid darkgray;
    border-right: 1px solid darkgray;
    width: calc(20vw - 2vh - 0.375rem / 2);
    top:0;
    left:0;
    transform: translateX(-100%);
    transition: 0.15s;
}

.side-menu-wrapper-active{
    transform: translateX(0%);
}

.side-menu{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.side-menu-option-list > .side-menu-option:first-child{
    margin-top: 1rem;
}

.side-menu-option-list-history{
    overflow-y: overlay;
    margin-top: 1rem;
    position: relative;
}

.side-menu-option-list-history > .side-menu-option:first-child{
    margin-top: 0;
}

.side-menu-option-list-history > .side-menu-option:last-child{
    margin-bottom: 0.5rem;
}

.side-menu-option-list-history::-webkit-scrollbar {
    width: 0.375rem;
    background: #E7E7E7;
}

.side-menu-option-list-history::-webkit-scrollbar-track {
    background-color: #E7E7E7;
}

.side-menu-option-list-history::-webkit-scrollbar-thumb {
    background-color: darkgray;
}

.side-menu-option, .side-menu-message{
    height: 2rem;
    border-radius: 0.25rem;
    padding: 1rem;
    margin: 0.5rem 1rem 0 1rem;
    box-sizing: border-box;
    width: calc(100% - 2rem);
    display: flex;
    justify-content: center;
    align-items: center;
}

.side-menu-option{
    background: mediumpurple;
    color: white;
}

.side-menu-option-find{
    height: 3rem;
    background: none;
    border: 1px solid darkgray;
    padding: 0;
    position: relative;
}

.side-menu-option-find-field-wrapper{
    border-radius: 0.25rem;
    height: 2rem;
    width: calc(100% - 1rem);
    box-sizing: border-box;
    display: flex;
    background: white;
    justify-content: flex-start;
    align-items: center;
}

.side-menu-option-find-field{
    border-radius: 0.25rem;
    height: 100%;
    width: calc(100% - 1.25rem - 0.5rem);
    padding: 0.5rem;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.side-menu-option-find-field:focus{
    /*height: 100%;*/
}

.side-menu-option-find-search{
    position: absolute;
    right:1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 100%;
}

.side-menu-option-actions-wrapper{
    margin: 1rem 1rem 0 1rem;
    grid-gap: 1rem;
    display: grid;
    grid-template-columns: auto auto auto;
}

.side-menu-option-share, .side-menu-option-export, .side-menu-option-delete{
    height: calc( (20vw - 2vh - 0.375rem / 2 - 4rem) / 3 );
    box-sizing: border-box;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.25rem;
    border: 1px solid darkgray;
    background: none;
}

.side-menu-option-share:hover, .side-menu-option-export:hover, .side-menu-option-delete:hover, .side-menu-option-find:hover{
    border: 1px solid gray;
}

.side-menu-message{
    background: none;
    color: black;
}